@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<partial name="_StatusMessage" for="StatusMessage" />
<section class="py-4">
    <div class="container px-2 px-lg-5 mt-5">
        <div class="row">
            <div class="col-md-9">
                <form class="formgh" id="email-form" method="post">
                    <h3 class="mb-3">@ViewData["Title"]</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="form-floating mb-3 input-group">
                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                                <div class="input-group-append">
                                    <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                                </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        </div>
                    }
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
