@page
@using EkkoSoreeg.Entities.Models
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<partial name="_StatusMessage" for="StatusMessage" />

<section class="py-4">
    <div class="container px-2 px-lg-5 mt-5">
        <div class="row">
            <div class="col-md-9">
                <form class="formgh" id="profile-form" method="post">
                    <h3 class="mb-3">@ViewData["Title"]</h3>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Name" class="form-control" placeholder="Your Name." />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        @if (user.PhoneNumberConfirmed)
                        {
                            <input asp-for="Input.PhoneNumber" disabled class="form-control"/>
                            <input type="hidden" asp-for="Input.PhoneNumber" />
                        }
                        else
                        {
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Your Phone." />
                        }
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Address" class="form-control" placeholder="Your Address." />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Region" class="form-control" placeholder="Your Regin." />
                        <span asp-validation-for="Input.Region" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.City" class="form-control" placeholder="Your City." />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
