@model ProductSize
@{
    ViewBag.pageTitle = "Size Management";
    ViewBag.CardTitle = "Update";
}
<section class="section">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update Size</h5>
                    <!-- Floating Labels Form -->
                    <form class="row g-3" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea asp-for="Name" class="form-control" id="floatingTextarea" style="height: 100px;"></textarea>
                                <label for="floatingTextarea">Description</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" asp-action="Update" class="btn btn-success m-2 px-4">Update</button>
                            <button asp-action="Index" class="btn btn-primary m-2 px-4">Back</button>
                        </div>
                    </form><!-- End floating Labels Form -->

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}