@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<style>
    .imagediv {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginimg {
        height: auto;
        max-width: 100%;
        margin: auto;
    }

    .formgh {
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        form h2 {
            margin-bottom: 20px;
        }

    .form-floating {
        margin-bottom: 15px;
    }

        .form-floating input {
            height: 45px;
            padding: 10px 15px;
            border-radius: 15px;
        }

    .btn-primary {
        background-color: #717FE0;
        border-color: #717FE0;
        transition: background-color 0.3s, border-color 0.3s;
        border-radius: 23px;
        line-height: 1.2;
    }

        .btn-primary:hover {
            background-color: #666666;
            border-color: #666666;
        }

    .form-radio-group {
        margin-bottom: 15px;
    }

        .form-radio-group input[type="radio"] {
            margin-right: 10px;
        }

        .form-radio-group label {
            margin-right: 20px;
        }
</style>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-md-5 mt-lg-5">
                <section class="form-section">
                    <form class="formgh" method="post">
                        <h2 style ="text-align:center; font-weight: bold">Forget Password</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.EmailOrPhone" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Or Phone Number" />
                            <span asp-validation-for="Input.EmailOrPhone" class="text-danger"></span>
                        </div>
                        <p class="mb-3">
                            We'll send a verification code to this email or phone number</p>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Next</button>
                        <button type="button" class="w-100 btn-lg" onclick="goBack()">Back</button>
                    </form>

                    <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>
                </section>
            </div>
            <div class="col-md-6 d-none d-md-flex align-items-center">
                <div class="imagediv">
                    <img class="loginimg" src="~/Customer/images/usermanage.png" alt="Login Illustration" />
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
