@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="container">
            <div class="text">
                <h1>@ViewData["Title"]</h1>
                @{
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            </div>
        </div>
    </div>
</section>
<style>
    .text{
        margin-top:120px;
        margin-bottom:170px;
    }
    .text h1{
        font-weight: bold;
        padding-bottom:20px;
    }
    .text p{
        font-size:20px;
    }
</style>




