@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="container">
            <div class="text">
                <h1>@ViewData["Title"]</h1>
                @{
                    <p>
                        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                    </p>
                }
            </div>
        </div>
    </div>
</section>
<style>
    .text {
        margin-top: 120px;
        margin-bottom: 170px;
    }

        .text h1 {
            font-weight: bold;
            padding-bottom: 20px;
        }

        .text p {
            font-size: 20px;
        }
</style>