<section class="txt-center p-lr-15 p-t-80">
	<h2 class="ltext-105 cl0 txt-center" style="color:#333">
		About Us
	</h2>
</section>

<section class="bg0 m-t-24 p-b-140">
	<div class="container">
		<div class="flex-w flex-tr">
			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<h4 class="mtext-105 cl2 txt-center p-b-30 headerknow">
					Know about us
				</h4>
				<p>
					Ekko Store is the brand for younger people, and always caters to the interests and needs of this public.
					Everything you do is a signature of yourself.
				</p>
			</div>
			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<h4 class="mtext-105 cl2 txt-center p-b-30 headerknow">
					FOLLOW US IN SOCIAL MEDIA
				</h4>
				<div class="social-media-icons txt-center">
					<a href="https://www.instagram.com/ekkostoreeg?igsh=NGhuc3lmOHJyYmV3" target="_blank" class="social-icon in" data-toggle="tooltip" title="Follow on Instagram">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="https://www.tiktok.com/@@ekkostoreeg?_t=8oja9qiuPr7&_r=1" target="_blank" class="social-icon too" data-toggle="tooltip" title="Follow on TikTok">
						<i class="fab fa-tiktok"></i>
					</a>
					<a href="https://wa.me/201004958040" class="social-icon ph" data-toggle="tooltip" title="Message Us On Whatsapp">
						<i class="fab fa-whatsapp"></i>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>

<style>

	.headerknow {
		font-weight: bold;
	}

	.social-icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border: 2px solid silver;
		border-radius: 50%;
		text-align: center;
		line-height: 50px;
		color: silver;
		font-size: 24px;
		transition: background-color 0.3s, color 0.3s;
	}

		.in:hover {
			background-color: #0087b7;
			color: #fff;
		}

		.too:hover {
			background-color: #000;
			color: #fff;
		}	
		.ph:hover {
		background-color: #25D366;
			color: #fff;
		}

		.social-icon i {
			vertical-align: central;
		}


</style>